<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- OpenGL ES 3.0 requirement -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    
    <!-- Permissions for texture rendering -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        tools:targetApi="30">
        
        <!-- Vision Plugin Library Components -->
        <!-- No activities - this is a library AAR for Unity integration -->
        
    </application>

</manifest>